* {
    font-family: 'Comic Sans MS', sans-serif;
    
}

.sapMPageEnableScrolling {
    overflow: hidden !important;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/main-menu.jpg') !important;
    background-repeat: repeat !important;
    background-size: auto !important;
    background-position: top left !important;
    height: 100vh;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.center-container input, .center-container select {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #3B4CCA;
    background-color: #5ae430;
    text-align: center;
}

.center-container button {
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
}

.game-grid {
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
}

.easy-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
}

@media (max-width: 768px) {
    .easy-grid {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

.medium-grid {
    grid-template-columns: repeat(4, 1fr) !important;
    grid-auto-rows: 1fr;
}

@media (max-width: 1024px) {
    .medium-grid {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media (max-width: 768px) {
    .medium-grid {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

.hard-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
}

@media (max-width: 768px) {
    .hard-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@keyframes deal {
    from {
        transform: translateY(-500px) rotateY(0);
        opacity: 0;
    }
    to {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.pokemon-card {
    opacity: 0;
    transform: translateY(-500px);
    transition: transform 0.3s;
    transform-style: preserve-3d;
    cursor: pointer;
    width: 100px;
    height: 150px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.pokemon-card.deal {
    animation: deal 0.5s forwards;
    pointer-events: none;
}

.pokemon-card.nodeal {
    opacity: 1;
    transform: translateY(+0px);
}

.pokemon-card.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.pokemon-card.nodeal.flipped {
    transform: rotateY(180deg);
}

.pokemon-card:not(.flipped):hover {
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
}

.pokemon-card-inner {
    position: relative;
    width: 100px;
    height: 150px;
    transform-style: preserve-3d;
    transition: transform 0.3s;
}

.pokemon-card.matched .pokemon-card-inner {
    pointer-events: none;
}

.pokemon-card-front,
.pokemon-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.pokemon-card-back {
    transform: rotateY(180deg);
}

.logo {
    transform: translateY(-100px)
}

.sapUiRespGridSpanXL3 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.sapUiRespGridSpanXL4 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

#viewPortContainer {
    background-image: url('../assets/background.jpg') !important;
    background-repeat: repeat !important;
    background-size: auto !important;
    background-position: top left !important;
}

.sapMLIB {
    background-color: #1e520f !important;
}

.sapMTableTH {
    background-color: #60960a !important;
}

.sapMPage {
    background-image: url('../assets/card-board.jpg') !important;
    background-repeat: repeat !important;
    background-size: auto !important;
    background-position: top left !important;
}

.sapMText {
    color: #f1aac5 !important;
    font-size: 24px !important;
    font-weight: bold !important;
}

.sapMPageHeader {
    background-color: #abb1e4 !important;
}

@media screen and (max-width: 480px) {
    .center-container input, .center-container select, .center-container button {
        width: 90%;
    }
}